<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="wechatedit.com.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.welcome.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.welcome.guide.WelcomeGuideActivity"/>
        <activity android:name="com.MainActivity"/>
        <activity android:name="com.welcome.ad.AdActivity">
        </activity>
        <activity android:name="com.welcome.login.LoginActivity">
        </activity>
    </application>

</manifest>